<div class="header-info float-center">
  <span class="header-info-name">{{ site.title }}</span>
  <!--<span class="header-info-name">direction</span><span class="header-info-name-inverse">less</span>-->
  <!--<<span class="header-info-desc">{{ site.description }}</span>-->
</div>
<nav class="header-nav">
  <div class="header-main-nav">
    <!-- {% for item in site.data.menus %}
    <span class="header-main-nav-item">
      <a href="{% if item.absoluteUrl != true %}{{ site.baseurl }}/{% endif %}{{ item.url }}">
        {% if item.default %}
          {{site.data.lang[site.language][item.default]}}
        {% else %}
          {{ item.title }}
        {% endif %}
      </a>
    </span>
    {% endfor %} -->
      <a class="header-main-nav-item" href="https://zajicek.eu/">Posts</a>
      <a class="header-main-nav-item" href="https://zajicek.eu/about">About</a>
      <a class="header-main-nav-item" href="https://zajicek.eu/photos">Photos</a>
      <a class="header-main-nav-item" href="https://zajicek.eu/feed.xml">RSS</a>
  </div>
</nav>
