@charset "utf-8";

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.container-header {
  width: 100%;
  padding: 10px 0;
  border-bottom: solid 1px #aaa;
  overflow: hidden;
  max-width: 1000px;
}

.container-main {
  width: 95%;
  margin: 10px auto;
  overflow: hidden;
  min-height: calc(100vh - 159px);
}

.container-footer {
  padding: 10px 0;
  border-top: solid 1px #aaa;
  overflow: hidden;
  max-width: 1000px;
}

.container-post {
  //width: 100%;
  max-width: 600px;
  //magin: 0px auto;
}

.post-padding {
  max-width: 200px;
}
