@charset "utf-8";

@media screen and (max-width: 768px) {
  /* reset default styles */
  img {
    width: 100%;
    max-width: 300px;
  }

  /* Page width */
  .container-main {
    width: 90%;
  }
  
  /* Posts list */
  .list-pagination {
    margin: 10px 0 5px 0;
  }

  .post-content {
  // scrollable for mobile devices
  overflow-x: scroll;
  }

  /* Footer */
  .footer-copyright .float-left,
  .footer-copyright .float-right {
    float: none;
  }
}
