@charset "utf-8";

.page-title {
  text-align: center;
}

.page-author {
  display: none;
}

.page-content p {
  line-height: 20px;
}

.page-content a {
  text-decoration: dashed;
  color: #000;
  text-decoration-color: #cd0f19;
}

.page-content {
  font-family: servermono_regular, monospace;
}

.page-content img {
  display: block;
  margin: 10px auto;
}
