@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  // font-family: Courier New, Courier, monospace;
  font-family: space_monoregular, monospace;
  background-color: #fff2cc;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
  // text-decoration-color: #cd0f19;
}

a:link {
  text-decoration: none;
  color: #000;
  // text-decoration-color: #cd0f19;
}

a:visited {
  text-decoration: none;
  color: #000;
  // text-decoration-color: #cd0f19;
}

a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #cd0f19;
}

em {
  //text-decoration: dashed;
  //color: #000;
  //text-decoration-color: #cd0f19;
}

blockquote {
  margin: 15px;
  padding-left: 15px;
  border-left: 2px solid #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin: 10px 0;
  text-indent: 0;
  //font-family: space_monoregular, monospace;
}

h1 {
  color: #cd0f19;
}

h2 {
  font-size: 1.3em;
}

hr {
  margin: 10px;
  border: 1px solid #eee;
}

img {
  max-width: 700px;
}

ol,
ul {
  margin-left: 35px;
  margin-bottom: 20px;
}

li {
   font-family: servermono_regular, monospace;
}

p {
  margin-bottom: 20px;
  font-family: servermono_regular, monospace;
}

table {
  width: 100%;
  font-family: servermono_regular, monospace;
  background-color: #f5f5f5;
  font-size: 0.9em;
  margin-bottom: 20px;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

thead {
  color: #cd0f19;
}

tr,
td,
th,
table,
tbody,
thead, {
  background-color: #f5f5f5;
}

tbody {
  // background-color: #f5f5f5;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
  // background-color: #f5f5f5;
}

th {
  padding: 8px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  // background: #f5f5f5;
}

// markdown reset
a.reversefootnote {
  display: none;
}

.footnotes {
  font-size: 0.8em;
}
